* {
	box-sizing: border-box;
}

body {
	background-color: #0a385f;
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	background-color: #337ab7; 

}

.jumbotron h1 {
	color: white;
}

.btn-xs:focus {
  outline: none;
}

.updateStyle {
	margin-right: 4px;
	width: 55px;
	height: 24px;
}

.clear {
	width: 55px;
}

.tableInput {
	width: 125px;

}


.buttonSpace {
	width: 130px;
}

#tracks {
	height: 9vw !important;
}




#test {
	display: block;
	width: 200px;
}

#test:hover {
	cursor: pointer;
}
